/* ============================================ */
/* INNER PAGE ================================= */
/* ============================================ */
.inner-page .divider {
  margin-bottom: 4rem;
}

.inner-page-header {
  padding: 5rem 0;
  margin-top: var(--header-height);
  width: 100%;
  min-height: calc(var(--header-height) * 3.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  background: var(--color-secondary);
  background-image:
    linear-gradient(
      to right bottom,
      rgba(var(--color-secondary-rgb) / 0.4),
      rgba(var(--color-secondary-rgb) / 0.4)
    ),
    url("/assets/img/shapes/service-shape.webp");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 1px var(--color-border);
  overflow: hidden;
}

.inner-page-section {
  margin-top: 8rem;
}

.inner-page-header .breadcrumb ul {
  justify-content: center;
}

.inner-page .heading-1 {
  font-size: 4rem;
}

/* 1368px / 85.5em =================== */
@media (max-width: 85.5em) {
  .inner-page .heading-1 {
    font-size: 3.4rem;
  }
}

/* 1200px / 75em ===================== */
@media (max-width: 75em) {
  .inner-page .heading-1 {
    font-size: 3rem;
  }
}

/* 1024px / 64em ===================== */
@media (max-width: 64em) {
  .inner-page .heading-1 {
    font-size: 2.8rem;
  }
}

/* 880px / 55em ====================== */
@media (max-width: 55em) {
  .inner-page .heading-1 {
    font-size: 2.6rem;
  }

  .inner-page .divider {
    margin-bottom: 3rem;
  }
}

/* 768px / 48em ====================== */
@media (max-width: 48em) {
  .inner-page .heading-1 {
    font-size: 2.2rem;
    line-height: 2;
  }

  .inner-page-header {
    padding: 3rem 0;
    row-gap: 2rem;
  }

  .inner-page-header .container {
    padding: 0 1rem;
  }
}

/* 432px / 27em ====================== */
@media (max-width: 27em) {
  .inner-page .heading-1 {
    font-size: 2.1rem;
  }
}

/* 336px / 21em ====================== */
@media (max-width: 21em) {
  .inner-page .heading-1 {
    text-align: center;
    line-height: 2;
  }
}

/* ============================================ */
/* 404 ======================================== */
/* ============================================ */

.not-found-section {
  background-color: var(--color-secondary);
  height: 100vh;
  padding: 4.8rem 0 9.6rem 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.not-found-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.not-found-logo {
  height: 9.6rem;
  width: auto;
  opacity: 0.5;
  transition: all 0.5s ease;
}
.not-found-logo:hover,
.not-found-logo:focus-visible {
  opacity: 1;
}

.not-found-page .heading-1 {
  font-size: 24rem;
  line-height: 1;
}
.not-found-page .heading-2 {
  font-size: 3.6rem;
  line-height: 1;
}

/* 1368px / 85.5em =================== */
@media (max-width: 85.5em) {
  .not-found-logo {
    height: 9rem;
  }
  .not-found-page .heading-1 {
    font-size: 22rem;
  }
  .not-found-page .heading-2 {
    font-size: 3.4rem;
  }
}
/* 1200px / 75em ===================== */
@media (max-width: 75em) {
  .not-found-logo {
    height: 8.2rem;
  }
  .not-found-page .heading-1 {
    font-size: 20rem;
  }
  .not-found-page .heading-2 {
    font-size: 3.2rem;
  }
}

/* 1024px / 64em ===================== */
@media (max-width: 64em) {
  .not-found-logo {
    height: 7.6rem;
  }
  .not-found-page .heading-1 {
    font-size: 18rem;
  }
  .not-found-page .heading-2 {
    font-size: 3rem;
  }
}

/* 880px / 55em ====================== */
@media (max-width: 55em) {
  .not-found-container {
    gap: 6rem;
  }
  .not-found-logo {
    height: 7rem;
  }
  .not-found-page .heading-1 {
    font-size: 16rem;
  }
  .not-found-page .heading-2 {
    font-size: 2.8rem;
  }
}

/* 768px / 48em ====================== */
@media (max-width: 48em) {
  .not-found-container {
    gap: 5rem;
  }
  .not-found-logo {
    height: 6.4rem;
  }

  .not-found-page .heading-1 {
    font-size: 14rem;
  }
  .not-found-page .heading-2 {
    font-size: 2.6rem;
  }
}

/* 680px / 42.5em ==================== */
@media (max-width: 42.5em) {
  .not-found-logo {
    height: 6rem;
  }

  .not-found-page .heading-1 {
    font-size: 13rem;
  }

  .not-found-page .heading-2 {
    font-size: 2.4rem;
  }
}

/* 480px / 30em ====================== */
@media (max-width: 30em) {
  .not-found-logo {
    height: 5.2rem;
  }

  .not-found-page .heading-1 {
    font-size: 12rem;
  }

  .not-found-page .heading-2 {
    font-size: 2.2rem;
  }
}

/* 432px / 27em ====================== */
@media (max-width: 27em) {
  .not-found-logo {
    height: 4.8rem;
  }

  .not-found-page .heading-1 {
    font-size: 11rem;
  }

  .not-found-page .heading-2 {
    font-size: 2rem;
  }
}

/* 368px / 23em ====================== */
@media (max-width: 23em) {
  .not-found-logo {
    height: 4.4rem;
  }
}

/* 336px / 21em ====================== */
@media (max-width: 21em) {
  .not-found-logo {
    height: 4rem;
  }
}

/* ============================================ */
/* ALL PROJECTS =============================== */
/* ============================================ */

.all-projects-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

/* 880px / 55em ====================== */
@media (max-width: 55em) {
  .all-projects-container {
    gap: 6rem;
  }
}

/* 768px / 48em ====================== */
@media (max-width: 48em) {
  .all-projects-container {
    gap: 5rem;
  }
}
